
<div class = "view">
    <div class = "amba">

        <h3>Ambassadøren </h3>
        <div class ="info">
            <label class=" description "> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tristique libero sed suscipit. 200poeng </label>


        </div>
        <img src={{url}} width="40%" id="bigicon" class="special-icon">




        <div class="container" id = "achievments">
            <figure class ="fig" >
                <img src={{url1}} id = skjeggemann1>
                <figcaption>Koblet til med facebook (100) </figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url2}} id = skjeggemann1>
                <figcaption>Vervet 1 facebook venn (100)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url2}} id = skjeggemann1>
                <figcaption>Vervet 5 facebook venner (200)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url2}} id = skjeggemann1>
                <figcaption>Prøvd klær 3 datoer samme måned (100)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url3}} id = skjeggemann1>
                <figcaption>Prøvd klær 2 måneder etter hverandre (200)</figcaption>
            </figure>
        </div>



    </div>


    <div class = "bottom">
        <label class = "bottomchild">Troféer hittil </label>
        <label class = "bottomchild">Poeng hittil </label>

        </p>
    </div>
    <div class = "bottom">

        <label class = "bottomchild" id = "points"> {{amountOfTrophies}} av 3</label>
        <label class = "bottomchild" id = "points"> {{points}} </label>

    </div>

</div>
