<h2 class="achievments_header"> Mine prestasjoner </h2>

<div class = "view">
    <div class = "insider">

        <h3>The insider</h3>
        <div class ="info">
            <label class=" description "> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tristique libero sed suscipit. 200poeng </label>


        </div>
        <img src={{url}} width="25%" id="insiderIcon">


        <div class="container" id = "achievments">
            <figure class ="fig" >
                <img src={{url1}} id = skjeggemann1>
                <figcaption>Komplett utfylt profil (100)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url2}} id = skjeggemann1>
                <figcaption>Abonnerer på nyhetsbrev(100)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url3}} id = skjeggemann1>
                <figcaption>Abonnerer på tilbud på SMS(100)</figcaption>
            </figure>
        </div>



    </div>


    <div class = "bottom">
            <label class = "bottomchild">Troféer hittil </label>
            <label class = "bottomchild">Poeng hittil </label>

        </p>
    </div>
    <div class = "bottom">

        <label class = "bottomchild" id = "points"> {{amountOfTrophies}} av 3</label>
        <label class = "bottomchild" id = "points"> {{points}} </label>

    </div>

</div>
