<div class = "view">
    <div class = "konge">

        <h3>Kongen av prøverom </h3>
        <div class ="info">
            <label class=" description "> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tristique libero sed suscipit. 200poeng </label>


        </div>
        <img src={{url}} height="60%" width="65%" id="bigicon">




        <div class="container" id = "achievments">
            <figure class ="fig" >
                <img src={{url1}} id = skjeggemann1>
                <figcaption>Bilde i butikk med 2 plagg (100) </figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url2}} id = skjeggemann1>
                <figcaption>Prøvd klær 3 datoer samme måned (100)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url3}} id = skjeggemann1>
                <figcaption>Prøvd klær 2 måneder etter hverandre (200)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url4}} id = skjeggemann1>
                <figcaption>Prøvd klær 2 måneder etter hverandre (200)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url5}} id = skjeggemann1>
                <figcaption>Prøvd klær 2 måneder etter hverandre (200)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url6}} id = skjeggemann1>
                <figcaption>Prøvd klær 2 måneder etter hverandre (200)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url7}} id = skjeggemann1>
                <figcaption>Prøvd klær 2 måneder etter hverandre (200)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url8}} id = skjeggemann1>
                <figcaption>Prøvd klær 2 måneder etter hverandre (200)</figcaption>
            </figure>
            <figure class ="fig">
                <img src={{url9}} id = skjeggemann1>
                <figcaption>Prøvd klær 2 måneder etter hverandre (200)</figcaption>
            </figure>
        </div>



    </div>


    <div class = "bottom">
        <label class = "bottomchild">Troféer hittil </label>
        <label class = "bottomchild">Poeng hittil </label>

        </p>
    </div>
    <div class = "bottom">

        <label class = "bottomchild" id = "points"> {{amountOfTrophies}} av 3</label>
        <label class = "bottomchild" id = "points"> {{points}} </label>

    </div>

</div>