<div id="ribbon" class="membership-ribbon">
    <div id="ribbon-inner">
        <div id="ribbon-content">
            <div class="avatar-container">
                <img src={{image}} width="120px" id="avatar">
            </div>
            <h1>
                {{name}}
            </h1>
            <p id="bob">
                Knallbra, du er en aller tiders Moods {{title}}
            </p>
        </div>
    </div>
    <figure  id="figlogo">
        <img src={{membershipImage}} id ="titlelogo">
        <figcaption>{{title}} </figcaption>
    </figure>
</div>

<section id="membership-content">
      <div id="membership-centering">

          <h2 id="modell">Modell for medlemskap</h2>
              <table>
                  <tr>
                      <th> </th>
                      <th class ="leftcoloumn"> Oppnås når du har: </th>

                      <th class ="leftcoloumn" > Grunnleggende fordeler: </th>

                  </tr>
                  <tr>
                      <th class="icons"> <img src="./public/images/membershipimages/happycamper.jpg" height="100%" width="100%" class="super">
                          <figcaption>Happy Camper</figcaption> </th>
                      <th class="text">
                          <ul class = list>
                              <li> Registrert deg som medlem i butikk eller på nett</li>
                          </ul>

                      </th>
                      <th class="text">
                          <ul class = list>
                              <li> Tilgang til min side</li>
                          </ul>

                      </th>
                  </tr>
                  <tr>
                      <th class="icons"> <img src="./public/images/membershipimages/supertrooper.jpg"height="100%" width="100%" class="super">
                          <figcaption>Super Trooper</figcaption>
                      </th>

                      <th class="text">
                          <ul class = list>
                              <li> Registrert deg som medlem i butikk eller på nett</li>
                              <li> Handlet for mer enn 500 kroner siste 12 måneder</li>
                          </ul>
                      </th>

                      <th class="text">
                          <ul class = list>
                              <li> Tilgang til min side</li>
                              <li> ...</li>
                          </ul>
                      </th>
                  </tr>
                  <tr>
                      <th class="icons"> <img src="./public/images/membershipimages/superdupertrooper.jpg" height="100%%" width="100%%" class="super">
                          <figcaption>Super Duper Trooper</figcaption> </th>
                      <th class="text">
                          <ul class = list>
                              <li> Registrert deg som medlem i butikk eller på nett</li>
                              <li> Handlet for mer enn 3000 kroner siste 12 måneder</li>
                          </ul>
                      </th>
                      <th class="text">
                          <ul class = list>
                              <li> Tilgang til min side</li>
                              <li> ...</li>
                          </ul>
                      </th>
                  </tr>
                  <tr>
                      <th class="icons"> <img src="./public/images/membershipimages/bestemorsfavoritt.jpg" height="100%%" width="100%%" class="super">
                          <figcaption>Bestemors Favoritt</figcaption>
                      </th>
                      <th class="text">
                          <ul class = list>
                              <li> Registrert deg som medlem i butikk eller på nett</li>
                              <li> Handlet for mer enn 10 000 kroner siste 12 måneder</li>
                          </ul>
                      </th>
                      <th class="text">
                          <ul class = list>
                              <li> Tilgang til min side</li>
                              <li> ...</li>
                          </ul>
                      </th>
                  </tr>
              </table>

          <h2>Avstemming</h2>

      </div>
</section>
