<div class="garment">
    <div class="garment-header">
        <div class="garment-title">
            <span class="garment-name">{{name}}</span>
            / {{color}}
        </div>
    </div>
    <div class="garment-middle-content">
        <div class="garment-image">
            <img src="{{image}}">
        </div>
        <div class="garment-right-content">
            <div class="size">
                  Str: <b>{{size}}</b>
            </div>
            <div class="price">
                {{#if sale_price}}
                    <div class="old">{{price}} kr</div>
                    <div class="sale">{{sale_price}} kr</div>
                {{else}}
                    <div class="ordinary">{{price}} kr</div>
                {{/if}}
            </div>
            <a href="{{link}}" class="to-store">
                Til nettbutikk
            </a>
        </div>

    </div>
    <div class="garment-text">
        {{#if details}}
            <div class="short">
                {{{details}}}
                <span class="read-more"> Se mer </span>
            </div>
            <div class="long">
                {{{long_details}}}
            </div>
        {{/if}}
    </div>
</div>
