<ul class="singleMovie">
    <li class="child" id="detailPoster">
        <figure>
            <img src="{{movieUrl}}" class = 'detailImg'>
            <figcaption>{{movieName}}</figcaption>
        </figure>
    </li>


    <li class ="child">
        <div>
            Actors: {{actors}}
        </div>
        <div>
            Plot: {{plot}}
        </div>
        <div>
            Imdb rating: {{imdbRating}} (From 1-10)
        </div>
        <div>
            Estimated rating for you: {{rating}} (From 1-5)
        </div>
    </li>


</ul>


