<!--Summary for receipt-->
<div class="receipt_vw">
<div type="click" class="receipt_summary">
    <div class="container_summary_title receipt_title">
        <rlbr class="title_date">{{dateDay}}.{{dateMonth}}.{{dateYear}}</rlbr>
        <span class="title_store">{{store}}</span>
        <span class="title_amount">{{totalQuantity}} artikler</span>
        <span class="title_amount_small">Stk</span>
        <span class="title_price">NOK {{totalprice}},-</span>
        <span class="title_price_small">{{totalprice}},-</span>
    </div>
    {{#items}}
        <div class="product_line">
            <span class="description" >{{Name}}</span>
            <span class="quantity" >{{amount}} stk</span>
            {{#if discount}}
                <span class="price" > NOK {{discountPrice}},-</span>
                <span class="price_small">{{discountPrice}},-</span>
            {{else}}
                <span class="price" > NOK {{itemprice}},-</span>
                <span class="price_small">{{itemprice}},-</span>
            {{/if}}
        </div>
    {{/items}}
        <div class="open_modal">
            <a class="open_modal" href="#{{receiptnumber}}{{time}}">Vis kvittering</a>
        </div>
    </div>

<!--Printable Receipt-->
<div>
    <div type="click" class="receipt" id="{{receiptnumber}}{{time}}">
        <div  class="receipt_table">
            <a href="#receipt" class="exit"><img src="\public\icons\ic_close_black_24px.svg"></a>
            <div class="receipt_header">
                <img class="receipt_image" src="\public\icons\logo.svg">
                <div class="receipt_title">Hegdehaugsveien 34</div>
                <div>Telefon 46 74 90 50</div>
                <div>Dato {{dateDay}}.{{dateMonth}}.{{dateYear}} {{time}}</div>
                <div>De ble ekspedert av {{salesman}}</div>
                <div>Kvittering nr.{{receiptnumber}}</div>
            </div>
            <div class="receipt_body">
                <div class="label_line product_line">
                    <span class="quantity">Ant.</span>
                    <span  class="description">Beskrivelse</span>
                    <span class="price" >Pris</span>
                </div>
                    {{#items}}
                        <div class="product_line">
                            <span class="quantity" >{{amount}}</span>
                            <span class="description">{{Name}}</span>
                            <span class="price" >{{itemprice}},00</span>
                        </div>
                        {{#if discount}}
                        <div class="product_line">
                            <span class="discount">{{discount}},00% av {{itemprice}},00</span>
                            <span class="price discount_price">-1300,00</span>
                        </div>
                        {{/if}}
                        {{#if veiledendepris}}
                            <div class="product_line">
                                <span class="original_price">Veil. pris: {{veiledendepris}},00</span>
                            </div>
                        {{/if}}
                    {{/items}}
            </div>
            <div class="receipt_footer">
                <div class="label receipt_title"><span class="right">TOTALT</span><span class="left">{{totalprice}}</span></div>
                <div class="label"><span class="right">Herav 25,00%</span><span class="left">{{vat}}</span></div>
                <div class="label"><text id="bankcard" class="bankcard right"></text><span class="left">{{motattbankkort}}</span></div>
                {{#if motattcash}}
                    <div class="label"><span id="cash" class="cash right"></span><span class="left">{{motattcash}}</span></div>
                {{/if}}
                <div class="label"><span class="right">Totalt mottatt</span><span class="left">1637,00 </span></div> <!--{{veiledendepris}}-->
                <div class="end_note"><span></span>Åpent kjøp byttes unnen 14 dager mot kvittering. Salgsvarer og undertøy byttes ikke.</div>
                <div class="receipt_title end_note"><span>Denne kvittering er gyldig i våre butikker.</span></div>
                <div class="end_note"><span>Takk for dansen svinse svansen !!!</span> </div>
                <div class="print_button" type="click" value="{{receiptnumber}}{{time}}">Skriv ut kvittering</div>
            </div>
        </div>
    </div>
</div>
</div>