<form class="userEdit" xmlns="http://www.w3.org/1999/html">


    <div class="editStuff">
        <input id="user-username" type="text" value="{{user.username}}" placeholder="Username" name="username">
    </div>
    <div>
        <text class="user-username"></text>
    </div>

    <div class="editStuff">
        <input id="user-email" type="text" value="{{user.email}}" placeholder="E-post" name="email">
    </div>
    <div>
        <text class="user-email"></text>
    </div>

    <div class="editStuff">
        <input id="user-age" type="text" value="{{age}}" placeholder="Age" name="age">
    </div>

    <div class="editStuff">
        <input id="user-postCode" type="text" value="{{postCode}}" placeholder="Postcode" name="postCode">
    </div>
    <div class="editStuff">
        <input id="user-interests" type="text" value="{{interests}}" placeholder="Genres I like" name="interests">

    </div>
    <div class="editGenre">
        <select name="genre" id ="genre">
            <option value="IMAX">IMAX</option>
            <option value="Western">Western</option>
            <option value="War">War</option>
            <option value="Thriller">Thriller</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Romance">Romance</option>
            <option value="Mystery">Mystery</option>
            <option value="Musical">Musical</option>
            <option value="Horror">Horror</option>
            <option value="Film-Noir">Film-Noir</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Drama">Drama</option>
            <option value="Documentary">Documentary</option>
            <option value="Crime">Crime</option>
            <option value="Comedy">Comedy</option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Animation">Animation</option>
            <option value="Children">Children</option>
        </select>
        <input type="button" value="Add genre" id="addGenre" class="buttonSmall" >
        <input type="button" value="Remove genre" id="removeGenre" class="buttonSmall" >

    </div>






    <div id="lastLine">
        <a class="exit-editing-link" id="save">Save</a>
        <a class="exit-editing-link" id="cancel">Cancel</a>
    </div>
</form>
