<div id="profile-ribbon">
    <div id="subribbon">
        <div id="circleOnTop" style="background-image: url({{profileImage}})"></div>
    <span class="nameOnRibbon" id="personName">{{firstName}}
        <span id="ribbonLastName"> {{lastName}}</span>
    </span>
        {{!-- <div id="tractorOnTop" style="background-image: url({{membershipImage}})"></div> --}}
    </div>
</div>


<form class="userEdit">

    <div class="editStuff">
        <span class="iconClass"><img src="public/icons/Person.svg"></span>
        <input id="user-name" type="text" value="{{name}}" placeholder="Navn" name="name">
    </div>
    <div>
        <text class="user-name"></text>
    </div>

    <div class="editStuff">
        <span class="iconClass"><img src="public/icons/Mobile.svg"></span>
        <input id="user-username" type="number" value="{{username}}" placeholder="Telefonnummer" name="username">
    </div>
    <div>
        <text class="user-username"></text>
    </div>

    <div class="editStuff">
    <span class="iconClass"><img src="public/icons/Mail.svg"></span>
        <input id="user-email" type="text" value="{{email}}" name="email" placeholder="E-post" name="email">
    </div>
    <div>
        <text class="user-email"></text>
    </div>

    <div class="editStuff">
        <span class="iconClass"><img src="public/icons/Post.svg"></span>
        <input id="user-postCode" type="number" value="{{postCode}}" placeholder="Postnummer" label="Postnummer" name="postCode">
    </div>
    <div>
        <text class="user-postCode"></text>
    </div>

    <div class="editStuff">
        <span class="iconClass"><img src="public/icons/Birthday.svg"></span>
        <input class="user-birthday" id="user-birthday-day" type="text" placeholder="DD" value="{{dateOfBirthDay}}" name="dateOfBirthDay" maxlength="2">
        <input class="user-birthday"  id="user-birthday-month" type="text" value="{{dateOfBirthMonth}}" placeholder="MM" name="dateOfBirthMonth" maxlength="2">
        <input class="user-birthday"  id="user-birthday-year" type="text" placeholder="YYYY" value="{{dateOfBirthYear}}" name="dateOfBirthYear" maxlength="4">
    </div>

    <div class="editStuff">
        <text class="user-dateOfBirthDay"></text>
        <text class="user-dateOfBirthMonth"></text>
        <text class="user-dateOfBirthYear"></text>
    </div>

    <div class="editStuff" id="intField">
        <span  class="iconClass" id="intSpan"><img src="public/icons/Int.svg">Interesser:</span>
        <div class="intDiv" id="int-herre"><img id="img-herre" class="intImage" src="public/images/interestsimages/moods-herre.jpg" {{bind-attr class="interests.herre:: isFalse"}}><span class="imgText">Herre</span></div>
        <div class="intDiv" id="int-kvinne"><img id="img-kvinne" class="intImage" src="public/images/interestsimages/moods-kvinne.jpg" {{bind-attr class="interests.kvinne:: isFalse"}}><span class="imgText">Kvinne</span></div>
        <div class="intDiv" id="int-kids"><img id="img-kids" class="intImage" src="public/images/interestsimages/moods-kids.jpg" {{bind-attr class="interests.kids:: isFalse"}}><span class="imgText">Kids</span></div>
        <div class="intDiv" id="int-sport"><img id="img-sport" class="intImage" src="public/images/interestsimages/moods-sport.jpg" {{bind-attr class="interests.sport:: isFalse"}}><span class="imgText">Sport</span></div>
    </div>

    <div id="lastLine">
        <input type="submit" value="Lagre" href="#profile" id="btnSubmit"> <text class="user-model"></text>
        <a class="exit-editing-link" href="#profile">Avbryt</a>
    </div>
</form>
