<div id="content">
    <form action="submit" id="searchform">
        <input type="text" id="searchuser" placeholder="Search for a user">

        <input type="button" value="Search" id="searchbutton" class="button" >
    </form>
    <form class="userShow">

        <div class="disp" id="displayName">
            <text>Post code: {{postCode}}</text>
        </div>

        <div class="disp" id="displayUsername">
            <text>Username: {{user.username}}</text>
        </div>

        <div class="disp" id="displayEmail">
            <text>Email: {{user.email}}</text>
        </div>
        <div class="disp" id="displayInterests">
            <text>I like: {{interests}}</text>
        </div>
        <div class="disp" id="displayAge">
            <text>Age: {{age}}</text>
        </div>
        <div class="disp" id="displayMovies">
            <text>Last five rated movies </text>
            <ul>{{#ratedMovies}}
                <li>{{movie.movieName}}, rating: {{ratingValue}}</li>
            {{/ratedMovies}}
            </ul>
            <a> <button id="seeAlls" class="buttonSmall" > See all </button></a><br>
        </div>






    </form>
    <p><text class="ranktext"> From a rank from -10 to 10 your similarities is ranked as {{similarity}} </text> </p>
    <p><text class="ranktextsmall"> (Higher number means more similarities. This calculation is based on your previous ratings on common movies) </text> </p>



</div>
